.body{
    background-image: url("https://cdn.pixabay.com/photo/2020/06/20/19/17/the-black-background-5322097_960_720.jpg");
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
tr{
    color: white;
    font-weight: bold;
}
.submit{
    font-weight: bold;
}